SECRET_KEY=changez-moi-en-production-cle-tres-longue-et-aleatoire-minimum-50-chars
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=ged_courrier
DB_USER=ged_user
DB_PASSWORD=mot_de_passe_securise
DB_HOST=localhost
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.mintransport.ne
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=noreply@mintransport.ne
EMAIL_HOST_PASSWORD=

REDIS_URL=redis://localhost:6379/0
